<!DOCTYPE html>
<html>
<head>
    <title>Baby Pool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/bootstrap/assets/js/html5shiv.js"></script>
    <script src="/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container"><!-- Collapsable nav bar -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <!-- Start of the nav bar content -->
                <div class="nav-collapse"><!-- Other nav bar content -->
                       <!-- The drop down menu -->
                    <ul class="nav pull-right">
                         <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
                            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                <form action="/login" method="post">
                                    <div>
                                        <label class="control-label">Username:</label>
                                        <input class="form-control" type="text" name="username"/>
                                    </div>
                                    <div>
                                        <label class="control-label">Password:</label>
                                        <input class="form-control" type="password" name="password"/>
                                    </div>
                                    <div>
                                        <input class="btn btn-primary" type="submit" value="Log In"/>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<div class="jumbotron">
    <div class="container">
        <h1>WELCOME</h1>

        <h2>TO THE BABY POOL</h2>

        <p>
            <a class="btn btn-primary btn-lg" href="newPool">Start a new baby pool</a>
            <a class="btn btn-default btn-lg" href="joinPool">Join an existing pool</a>
        </p>
    </div>
</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
