doctype 5
html(lang="en")
	head
		title= "Baby Pool"
	body		
		h1 Welcome
		h2 to the
		h1 Baby Pool
		a(class="btn", href="/newpool") Start a new pool		
		a(class="btn", href="joinpool") Join an existing pool
		