<!DOCTYPE html>
<html>
    <head>
        <title>Baby Pool</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="/bootstrap/assets/js/html5shiv.js"></script>
        <script src="/bootstrap/assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            {% if isAuthenticated() %}
                <p>Hi {{user.username}}</p>
            {% else %}
                <p>Hi anonymous</p>
            {% endif %}

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    {% if !isAuthenticated() %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Register <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <form action="/register" method="post">
                                    <div>
                                        <label class="control-label">Username:</label>
                                        <input class="form-control" type="text" name="username"/>
                                    </div>
                                    <div>
                                        <label class="control-label">Password:</label>
                                        <input class="form-control" type="password" name="password"/>
                                    </div>
                                    <div>
                                        <label class="control-label">Confirm:</label>
                                        <input class="form-control" type="password" name="confirmPassword"/>
                                    </div>
                                    <div>
                                        <input class="btn btn-primary" type="submit" value="Sign Up"/>
                                    </div>
                                </form>
                            </ul>
                        </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <form action="/login" method="post">
                                <div>
                                    <label class="control-label">Username:</label>
                                    <input class="form-control" type="text" name="username"/>
                                </div>
                                <div>
                                    <label class="control-label">Password:</label>
                                    <input class="form-control" type="password" name="password"/>
                                </div>
                                <div>
                                    <input class="btn btn-primary" type="submit" value="Log In"/>
                                </div>
                            </form>
                        </ul>
                    </li>
                    {% else %}

                    <li class="">
                        <a href="/logout" class="">Sign Out</a>
                    </li>

                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    
        {% block content %}{% endblock %}

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="//code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/scripts/common.js"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>
