{% extends "layout.html" %}

{% block content %}
    <div id="alert" class="alert alert-success">New Pool Created</div>

    <div class="jumbotron">
        <div class="container">
            <h1>Start New Baby Pool</h1>
        </div>
    </div>

    <form class="form-horizontal" id="newPoolForm" action="newPool" method="post">
        <div class="form-group">
            <div class="row">
                <label for="parentName" class="col-lg-2 control-label">Your Name</label>

                <div class="col-lg-2">
                    <input type="text" class="form-control" name="parentName" id="parentName" placeholder="Joe Bloggs">
                </div>
            </div>

            <div class="row">
                <label for="emailAddress" class="col-lg-2 control-label">Email</label>

                <div class="col-lg-2">
                    <input type="email" class="form-control" name="emailAddress" id="emailAddress" placeholder="Email">
                </div>
            </div>

            <div class="row">
                <label for="babyName" class="col-lg-2 control-label">Your Baby's Name</label>

                <div class="col-lg-2">
                    <input type="text" class="form-control" name="babyName" id="babyName" placeholder="Dont Know Yet">
                </div>
            </div>

            <div class="row">
                <label for="dueDate" class="col-lg-2 control-label">Expected Due Date</label>

                <div class="col-lg-2">
                    <input type="date" class="form-control" name="dueDate" id="dueDate">
                </div>
            </div>
        </div>

        <div class="row">
            <input type="button" id="saveNewPool" class="btn btn-primary col-lg-2 col-md-offset-2" value="Start Pool"/>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script src="/scripts/newPool.js"></script>
{% endblock %}
