{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Existing Baby Pools</h1>
        </div>

        <div class="container">
            <div class="list-group">
                {% for pool in pools %}
                    <a href="{{ pool.babyName }}" class="list-group-item">
                        {{ pool.babyName }}
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="container">
            <a class="btn btn-primary">Join pool</a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/scripts/poolList.js"></script>
{% endblock %}
